.container{
    width: 100%;
    position: relative;
}

.container img{
    width: 100%;
}

.textContainer{
    position: absolute;
    top: 20px;
    left: 30px;
}

.textContainer h1{
    font-size: 6rem;
    color:#6FCFFF;
}

.textContainer p{
    font-size: 1.3rem;
    margin-top: 20px;
    color: #6FCFFF;
}

.textContainer span{
    color: #F9731A;
    font-weight: bold;
}