.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 150px;
    background-color: #6FCFFF;
}

.container p{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.container input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.container input::placeholder{
    font-size: 1rem;
}